<div class="app-container">
    <h1 class="heading-create">Create New Model Repo</h1>
    <form [formGroup]="createApp" novalidate (ngSubmit)="onSubmit()" class="createApp">
        <mat-form-field>
            <input autofocus type="text" matInput placeholder="Enter App Name" formControlName="appName">
        </mat-form-field>


        <div class="emailCombo">
            <div class="filter-email">
                <div *ngFor="let name of selectedLabel;let i=index">
                    <div class="selectedEmail"> {{name}}
                        <div class="material-icons close-button" (click)="removeEmailFromList(i)">
                            close
                        </div>
                    </div>
                </div>
            </div>
            <mat-form-field class="sendEmail">
                <mat-placeholder>Create New label</mat-placeholder>
                <input autocomplete="off" matInput formControlName="label" class="emailInput" (focusout)="focusOutEmail()" (ngModelChange)="getEmailValue($event)">
            </mat-form-field>
        </div>







        <button type="submit" mat-raised-button color="primary">Create Model</button>
    </form>

</div>