.example-spacer {
    flex: 1 1 auto;
}

.label-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* height: 10% !important; */
}

.profile-icon {
    position: absolute;
    width: 4vw;
    top: 0px;
    height: 7vh;
    left: 0px;
    border-radius: 50%;
    background-color: transparent !important;
    color: black!important;
}


/* .progress-bar {
    position: relative;
    top: 10%;
} */