<mat-toolbar class="label-toolbar">

    <button mat-button class="drawLabel">
        <mat-icon aria-label="edit icon" matTooltip="Draw label" class="mate-icons drawlabel">edit
        </mat-icon>
    </button>

    <span>LabelOx</span>&nbsp;
    <span *ngIf="hideAndShow"> => Article</span>

    <span class="example-spacer"></span>

    <mat-form-field class="selectLabel">
        <mat-select class="mat-select operation" placeholder="Select operations">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option.name}} </mat-option>
        </mat-select>
    </mat-form-field>

    <span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
     <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>Name</button>
        <button mat-menu-item>Logout</button>
    </mat-menu>

    </span>

</mat-toolbar>