.card {
    position: absolute;
    display: block;
    width: 12%;
    /* height: 240px; */
    opacity: 0.9;
    color: black;
    overflow: auto;
    z-index: 1;
    background: lightsteelblue;
    overflow: hidden;
}

.close-button {
    position: absolute;
    height: 24px;
    top: 14px;
    right: 15px;
    width: 24px;
    color: black;
}

.close-button:hover {
    transform: scale(1.2);
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.property-manager {
    position: fixed;
    width: 100%;
}

.add {
    display: flex;
}

.example-full-width {
    width: 79%;
}