<div class="container">
  <table class="table">

      <thead>
          <tr>
              <th *ngFor="let column of displayedColumns">{{column}}</th>
          </tr>
      </thead>
  </table>

  <table class="table">
      <tbody>
          <tr *ngFor="let element of historyRecord">

              <td>ImageId - {{element.imageId}}</td>
              <td>{{element.creationTime}}</td>
              <td>{{element.assignedTo}}</td>
              <td>{{element.modifiedBy}}</td>
              <td>{{element.status}}</td>

          </tr>
      </tbody>
  </table>

</div>