.container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 10%;
}

.container mat-card {
    width: 30%;
}

.container mat-card:nth-child(1) {
    margin-right: 2%;
}

.container mat-card:nth-child(2) {
    margin-left: 2%;
}

.container mat-card-content {
    margin-top: 5%;
}

.searchField {
    width: 100%;
}